body {
  position: relative;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: #666D78;
  letter-spacing: -0.2px;
  background: #fff;
  overflow-x: hidden
}

/*Margins and Paddings*/

.m0 {
  margin: 0px
}

.ml0 {
  margin-left: 0px
}

.mr0 {
  margin-right: 0px
}

.mt0 {
  margin-top: 0px
}

.mb0 {
  margin-bottom: 0px
}

.m8 {
  margin: 8px
}

.ml8 {
  margin-left: 8px
}

.mr8 {
  margin-right: 8px
}

.mt8 {
  margin-top: 8px
}

.mb8 {
  margin-bottom: 8px
}

.m16 {
  margin: 16px
}

.ml16 {
  margin-left: 16px
}

.mr16 {
  margin-right: 16px
}

.mt16 {
  margin-top: 16px
}

.mb16 {
  margin-bottom: 16px
}

.m24 {
  margin: 24px
}

.ml24 {
  margin-left: 24px
}

.mr24 {
  margin-right: 24px
}

.mt24 {
  margin-top: 24px
}

.mb24 {
  margin-bottom: 24px
}

.m32 {
  margin: 32px
}

.ml32 {
  margin-left: 32px
}

.mr32 {
  margin-right: 32px
}

.mt32 {
  margin-top: 32px
}

.mb32 {
  margin-bottom: 32px
}

.m40 {
  margin: 40px
}

.ml40 {
  margin-left: 40px
}

.mr40 {
  margin-right: 40px
}

.mt40 {
  margin-top: 40px
}

.mb40 {
  margin-bottom: 40px
}

.m64 {
  margin: 64px
}

.ml64 {
  margin-left: 64px
}

.mr64 {
  margin-right: 64px
}

.mt64 {
  margin-top: 64px
}

.mb64 {
  margin-bottom: 64px
}

.m80 {
  margin: 80px
}

.ml80 {
  margin-left: 80px
}

.mr80 {
  margin-right: 80px
}

.mt80 {
  margin-top: 80px
}

.mb80 {
  margin-bottom: 80px
}

.p0 {
  padding: 0px
}

.pl0 {
  padding-left: 0px
}

.pr0 {
  padding-right: 0px
}

.pt0 {
  padding-top: 0px
}

.pb0 {
  padding-bottom: 0px !important
}

.p8 {
  padding: 8px
}

.pl8 {
  padding-left: 8px
}

.pr8 {
  padding-right: 8px
}

.pt8 {
  padding-top: 8px
}

.pb8 {
  padding-bottom: 8px
}

.p16 {
  padding: 16px
}

.pl16 {
  padding-left: 16px
}

.pr16 {
  padding-right: 16px
}

.pt16 {
  padding-top: 16px
}

.pb16 {
  padding-bottom: 16px
}

.p24 {
  padding: 24px
}

.pl24 {
  padding-left: 24px
}

.pr24 {
  padding-right: 24px
}

.pt24 {
  padding-top: 24px
}

.pb24 {
  padding-bottom: 24px
}

.p32 {
  padding: 32px
}

.pl32 {
  padding-left: 32px
}

.pr32 {
  padding-right: 32px
}

.pt32 {
  padding-top: 32px
}

.pb32 {
  padding-bottom: 32px
}

.p40 {
  padding: 40px
}

.pl40 {
  padding-left: 40px
}

.pr40 {
  padding-right: 40px
}

.pt40 {
  padding-top: 40px
}

.pb40 {
  padding-bottom: 40px
}

.p64 {
  padding: 64px
}

.pl64 {
  padding-left: 64px
}

.pr64 {
  padding-right: 64px
}

.pt64 {
  padding-top: 64px
}

.pb64 {
  padding-bottom: 64px
}

.p80 {
  padding: 80px
}

.pl80 {
  padding-left: 80px
}

.pr80 {
  padding-right: 80px
}

.pt80 {
  padding-top: 80px
}

.pb80 {
  padding-bottom: 80px
}

/*Margins and Paddings*/

/*Font sizes and weights*/

.exbold {
  font-weight: 800;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.title-1 {
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -1px;
}

.title-2 {
  font-size: 38px;
  line-height: 46px;
  letter-spacing: -0.6px;
}

.title-3 {
  font-size: 28px;
  line-height: 34px;
}

.title-4 {
  font-size: 21px;
  line-height: 28px;
}

.txtl {
  font-size: 18px;
  line-height: 26px;
}

.txtm {
  font-size: 16px;
  line-height: 24px;
}

.txts {
  font-size: 14px;
  line-height: 20px;
}

.txtxs {
  font-size: 12px;
  line-height: 18px;
}

.txt-orange, .txt-orange:hover, .txt-orange:focus, .txt-orange:active {
  color: #EF4135;
}

.txt-white, .txt-white:hover, .txt-white:focus, .txt-white:active {
  color: #fff;
}

.txt-blue, .txt-blue:hover, .txt-blue:focus, .txt-blue:active {
  color: #001866;
}

.txt-black, .txt-black:hover, .txt-black:focus, .txt-black:active {
  color: #000;
}

/*Font sizes and weights*/

/*Buttons and links*/

a:hover, a:focus, a:active, button:hover, button:focus, button:active, div:hover, svg:hover, h4:hover, select:hover, select:focus, input:hover, input:focus {
  transition: all 0.5s linear;
}

a, a:hover, a:focus, a:active {
  color: #0A43FF;
}

.btn-fls {
  display: inline-block;
  font-weight: 600;
  border-radius: 8px 0px;
  text-align: center;
}

.btn-large {
  padding: 16px 24px;
  font-size: 16px;
  line-height: 24px;
}

.btn-medium {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 20px;
}

.btn-small {
  padding: 6px 12px;
  font-size: 12px;
  line-height: 16px;
}

.btn-fls-primary {
  color: #fff;
  background: #EF4135;
  border: 2px solid #EF4135;
}

.btn-fls-primary:hover {
  color: #fff;
  background: #E97F7C;
  border: 2px solid #E97F7C;
}

.btn-fls-primary:focus, .btn-fls-primary:active {
  color: #fff;
  background: #BB2F25;
  border: 2px solid #BB2F25;
}

.btn-fls-secondary {
  color: #0A43FF;
  /* background: #fff; */
  background: transparent;
  border: 2px solid #0A43FF;
}

.btn-fls-secondary:hover {
  color: #fff;
  background: #002290;
  border: 2px solid #002290;
}

.btn-fls-secondary:focus, .btn-fls-secondary:active {
  color: #fff;
  background: #0A43FF;
  border: 2px solid #0A43FF;
}

.link-bold, .link-bold:hover, .link-bold:focus, .link-bold:active {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #0A43FF;
}

.link-bold img {
  width: 10px;
  position: relative;
  top: -2px;
  margin-left: 8px;
}

.btn-fls-tertiary, .btn-fls-tertiary:hover, .btn-fls-tertiary:focus, .btn-fls-tertiary:active {
  color: #fff;
  background: #0A43FF;
  border: 2px solid #0A43FF;
}

.btn-fls-tertiary.disabled, .btn-fls-tertiary.disabled:hover, .btn-fls-tertiary.disabled:focus, .btn-fls-tertiary.disabled:active {
  background: #C0C5C9;
  color: #fff;
  border: 2px solid #C0C5C9
}

/*Buttons and links*/

/*General styles*/

h1, h2, h3, h4, h5, h6 {
  position: relative;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus, a:active, input, input:focus, input:active, button, button:hover, button:focus, button:active, select, select:focus, select:active, textarea:focus, textarea:active {
  text-decoration: none;
  outline: 0px none;
}

strong {
  font-weight: 600;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-sb {
  justify-content: space-between;
}

div>p {
  margin: 0 0 16px 0;
}

div>p:last-child {
  margin: 0;
}

section {
  position: relative;
}

.w100 {
  width: 100%;
}

.mxw-1060 {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.ta-left {
  text-align: left !important
}
.rotate-icon{
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/*General styles*/

/*Input Field*/

.input-fls {
  width: 100%;
  padding: 16px 12px;
  border: 1px solid #85A2CF;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: #fff;
}

label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

label sup {
  color: #f00;
  font-weight: 700;
}

.input-fls:hover, .input-fls:focus, .input-fls:active {
  border: 1px solid #EF4135
}

/*Floating labels*/

/* You can use "input ~ label" selector too */

input+label, textarea+label {
  position: absolute;
  left: 12px;
  top: 1.15em;
  transition: transform 200ms ease;
  /* You have to use this to make it clickable through*/
  pointer-events: none;
}

input:focus+label, input+label.freeze, textarea:focus+label, textarea+label.freeze {
  font-size: 0.8em;
  left: 2px;
  /* Use "Translate" function instead of classic positioning for better performance */
  transform: translateY(-2.5em);
}

/*Floating labels*/

/*Input Field*/

/*Nice Select*/

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}

.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  color: #666D78;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

/*Nice Select*/

/*Navigation*/

.fls-nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px 0;
  background: #fff;
  box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}

.fls-nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-logo {
  flex: 0 0 70px;
}

.nav-logo a img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.nav-menu {
  flex: 0 0 80%;
  display: flex;
  justify-content: center;
}

.nav-account {
  position: relative;
  flex: 0 0 150px;
}

.account-link {
  display: block;
  text-align: right;
}

.account-link .user-img {
  width: 40px;
  height: 40px;
  margin: 0 0 0 16px;
  border-radius: 40px;
  object-fit: cover;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 8px 12px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #666D78
}

.account-link {
  font-weight: 700;
  color: #28313A;
}

.nav-link:hover, .nav-link:focus, .nav-link:active, .account-link:hover, .account-link:focus, .account-link:active {
  color: #D63C31;
}

.dropdown-toggle::after {
  display: none;
}

.nav-link.dropdown-toggle img {
  margin-left: 4px;
}

.nav-fls-dropdown {
  padding: 8px;
  background: #fff;
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.08);
  border: 0px none;
  border-radius: 8px;
}

.nav-fls-dropdown a {
  display: block;
  padding: 10px 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #666D78;
  border-radius: 4px;
}

.nav-fls-dropdown a:hover, .nav-fls-dropdown a:focus, .nav-fls-dropdown a:active {
  background: #FFF4F3;
  color: #EF4135;
}

.my-account-popup {
  position: absolute;
  top: 67px;
  left: 0;
  display: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  top: 65px;
}

.is-active {
  display: block;
}

.my-account-mobile, .navbar-toggler {
  display: none;
}

.content-push {
  margin-top: 94px;
}

.popup-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1002;
}

.my-account-popup-mobile {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  margin: 0 auto;
  box-shadow: 0px 4px 55px rgb(0 0 0 / 8%) !important;
  border: 0px none;
  border-radius: 8px !important;
  z-index: 1003;
}

/*Navigation*/

/*Footer*/

footer {
  position: relative;
  margin-top: 200px;
  z-index: 3;
}

footer.footer-without-img {
  margin-top: 0;
}

.footer-top-img-wrapper {
  padding: 0;
  background: #FCEDEC;
}

.footer-top-wrapper {
  padding: 80px 0;
  background: #FCEDEC;
}

.fti-wrapper {
  margin-top: -120px
}

.fti-wrapper img {
  width: 23%;
  height: 23%;
  margin: 0 1%;
  object-fit: cover;
}

.fti-wrapper img:first-child {
  margin: 0 1% 0 0;
}

.fti-wrapper img:last-child {
  margin: 0 0 0 1%;
}

.gs-left, .gs-right {
  flex: 0 0 50%;
}

.gs-form {
  text-align: right;
}

.gs-text {
  width: 70%;
  margin-right: 20px;
  padding: 16px 28px;
  background: #fff;
  border: 0px none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #7E868E;
  border-radius: 8px;
}

.gs-btn {
  padding: 16px 60px;
  background: #0A43FF;
  border-radius: 8px 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  border: 0px none;
}

.footer-bottom-wrapper {
  padding: 80px 0 60px 0;
  background: #002290
}

.logo-footer {
  width: 100px;
  height: 100px;
  margin-right: 24px;
}

.footer-single.footer-logo-fls {
  flex: 0 0 350px;
  margin-right: 3%;
}

.fa-left {
  flex: 0 0 100px;
}

.fa-right {
  flex: 0 0 225px;
}

.footer-social a {
  margin-right: 8px
}

.footer-links-list li a {
  display: block;
  margin: 0 0 8px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

.footer-links-list li:last-child a {
  margin: 0;
}

.footer-links-list li a:hover, .footer-links-list li a:focus, .footer-links-list li a:active {
  color: #F3A712;
}

.footer-arrow-icon {
  position: relative;
  top: -2px;
}

.footer-single h4 {
  margin: 0 0 4px 0;
}

.footer-about-fls, .footer-adult-fls, .footer-kids-fls {
  margin-right: 1%;
}

.footer-legal-wrapper {
  padding: 15px 0;
  background: #001866;
}

.fl-right a {
  margin: 0 10px 0 0;
}

.fl-right a:last-child {
  margin: 0 0 0 10px;
}

/*Footer*/

.homepage-banner-wrapper {
  position: relative;
}

.homepage-banner-text {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 460px;
  text-align: center;
}

.sec-single {
  margin: 80px 0 0 0;
  z-index: 2;
}

.homepage-about-wrapper {
  position: relative;
  padding: 70px 0 0 0;
  text-align: center;
}

.homepage-about-wrapper:before {
  content: '';
  width: 1px;
  height: 45px;
  background: #000;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.ha-text {
  max-width: 860px;
  margin: 16px auto;
}

.hwwt-left {
  flex: 0 0 32%;
}

.hwwt-right {
  flex: 0 0 45%;
}

.title-reasons {
  max-width: 410px;
}

.whyus-step-single {
  flex: 0 0 25%;
}

.whyus-step-single:first-child {
  padding: 0 40px 0 0;
}

.whyus-step-single {
  padding: 0 40px;
  border-right: 1px solid #B0BFC6
}

.whyus-step-single:last-child {
  padding: 0 0 0 40px;
  border-right: 0px
}

.whyus-step-single h4 {
  font-weight: 800;
  font-size: 96px;
  line-height: 96px;
  display: flex;
  align-items: center;
  color: rgba(176, 191, 198, 0.2);
}

.whyus-step-single h3 {
  margin-top: -45px;
}

.sec-home-whyus {
  padding: 80px 0;
}

.sec-home-whyus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 94%;
  height: 100%;
  background: #E9EEF6;
  box-shadow: 0px 25px 43px rgba(0, 0, 0, 0.02);
  border-radius: 0 32px 32px 0;
}

.hp-arrow {
  position: relative;
  top: 20px;
  left: 2px;
}

.hp-single {
  flex: 0 0 32%;
  padding: 24px;
  background: #fff;
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.08);
  border-radius: 16px 0px;
  margin: 0 2%;
}

.hp-single:first-child, .hp-single:last-child {
  margin: 0;
}

.hp-single-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.hp-cta a {
  padding: 15px 20px;
}

.sec-testimonial {
  margin-top: -170px;
  padding: 250px 0 140px 0;
  background: #002291;
  z-index: 1
}

.testimonial-quote-wrapper {
  margin: 0 0 80px 0;
}

.tq-img {
  flex: 0 0 100px;
  width: 100px;
  margin: 0 40px 0 0;
}

.tq-text {
  flex: 0 0 85%;
  max-width: 650px;
}

.testimonial-title {
  font-weight: 700;
  font-size: 139px;
  line-height: 222px;
  color: rgba(21, 64, 204, 0.6);
}

.sec-home-testimonial {
  margin-top: -197px;
  z-index: 3;
}

.home-testimonial-wrapper {
  width: 100%;
  float: left;
}

.ht-left {
  width: 36%;
  float: left;
}

.ht-right {
  width: 60%;
  float: right
}

.ht-carousel-wrapper {
  padding: 40px;
  background: #fff;
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.08);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 17px solid #EF4135;
}

.testimonial-name {
  margin: 50px 0 0 0;
}

.testimonial-name h4 {
  width: 60%;
  color: #000;
}

.owl-nav {
  position: absolute;
  right: 0;
  bottom: -10px;
}

.owl-nav button:first-child {
  margin: 0 10px 0 0
}

.counter-wrapper {
  padding: 40px 70px;
  background: #FF564A;
  box-shadow: 0px 25px 43px rgba(0, 0, 0, 0.02);
  border-radius: 16px 0 16px 0;
}

.cw-single:first-child {
  padding: 0 50px 0 0;
}

.cw-single {
  padding: 0 50px;
  border-right: 1px solid #fff;
}

.cw-single:last-child {
  padding: 0 0 0 50px;
  border: 0px none;
}

.cw-single h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
}

.vt-single {
  flex: 0 0 48%;
  margin: 0 0 24px 0;
  padding: 15px;
  background: #fff;
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.vt-img {
  width: 100%;
  height: 187px;
  object-fit: cover;
}

.vt-info-wrapper h4 {
  flex: 0 0 80%;
  padding: 0 16px 0 0;
}

.sec-internal-intro {
  padding: 60px 0 70px 0;
  background: #E9EEF6;
}

.sec-top-wrapper {
  max-width: 900px;
}

.sec-top-wrapper.about-top-wrapper {
  max-width: 710px;
}

.sec-top-title {
  display: inline-block;
}

.sec-top-title.border-right .stt-border {
  float: right;
}

.ai-left {
  flex: 0 0 40%;
}

.ai-left img {
  width: 100%;
  max-width: 100%;
  height: 285px;
  object-fit: cover;
}

.ai-right {
  flex: 0 0 55%;
}

.cv-left, .cv-right {
  flex: 0 0 48%
}

.cv-single {
  width: 100%;
  padding: 50px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1), 0px 10px 40px rgba(0, 0, 0, 0.06);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 16px solid #EF4135;
}

.cv-single.cv-vision {
  background: #fff;
  margin: 0 0 24px 0;
}

.cv-single.cv-mission {
  background: #ffd5d2;
}

.cv-single.cv-values {
  background: #FF564A;
  color: #fff;
}

.value-icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.cv-right ul {
  margin: 40px 0 0 0;
  padding: 0 0 0 20px;
  list-style-type: disc;
}

.cv-right ul  li {
  margin: 0 0 32px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #F8FAFC;
}

.cv-right ul  li:last-child {
  margin: 0;
}

.sec-testimonial.sec-testimonial-about {
  margin-top: -105px;
  padding: 190px 0 300px 0;
}

.sec-about-3 {
  margin-top: -347px;
  z-index: 2;
}

.why-us-img {
  width: 100%;
}

.wub-left {
  flex: 0 0 35%;
}

.wub-right {
  flex: 0 0 58%;
}

.about-why-us-img {
  position: absolute;
  left: -110px;
  bottom: -30px;
}

.wub-right div.txtl p {
  margin: 0 0 32px 0;
}

.wub-right div.txtl p:last-child {
  margin: 0;
}

.ptl-left, .ptl-right {
  position: relative;
}

.pt-list-single {
  margin: 0 0 95px 0;
}

.pt-list-single:last-child {
  margin: 0;
}

.ptl-left {
  flex: 0 0 45%;
}

.ptl-right {
  flex: 0 0 50%;
}

.pt-list-single:nth-child(even) .ptl-left {
  order: 2
}

.pt-list-single:nth-child(even) .ptl-right {
  order: 1
}

.pt-list-single img.pt-list-img {
  width: 100%;
  height: 402px;
  object-fit: cover;
}

.ptl-right h2 {
  position: relative;
  padding: 0 0 0 10px;
}

.ptl-title-img {
  position: absolute;
  left: 0;
  top: -14px;
}

.pt-list-single .link-bold img {
  width: 18px;
  height: 18px;
  margin-left: 0;
  top: -2px
}

.ptl-left span {
  position: absolute;
  left: -50px;
  top: -35px;
  font-weight: 800;
  font-size: 144px;
  line-height: 96px;
  color: rgba(10, 67, 255, 0.2)
}

.ptl-content {
  max-height: 120px;
  overflow: hidden;
  margin: 0 0 16px 0;
}

.ptl-content.read-more {
  max-height: 100%;
}

.group-study-title {
  position: relative;
}

.group-study-title .uc-img {
  position: absolute;
  top: -8px;
  left: -24px;
}

.gsl-single {
  flex: 0 0 49%;
  margin: 0 0 32px 0;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.08);
  border-radius: 16px 0px;
  border: 1px solid #fff;
}

.gsl-single:hover {
  border: 1px solid #EF4135;
}

.gsl-single:hover a.btn-fls-secondary {
  color: #fff;
  background: #0A43FF;
  border: 2px solid #0A43FF;
}

.gsl-img {
  width: 213px;
  height: 187px;
  object-fit: cover;
}

.gsl-single-right {
  flex: 0 0 58%;
}

.gsl-single-right h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.class-label {
  display: inline-block;
  margin: 0 4px 16px 0;
  padding: 5px 10px;
  background: #FFF1D6;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #AA7309;
  text-align: center;
}

.cd-left {
  flex: 0 0 60%;
}

.cd-left .txts {
  color: #163D7F;
}

.gs-detail-wrapper {
  margin: 60px 0 0 0;
}

.gsd-left {
  flex: 0 0 75%;
  max-width: 850px;
}

.gsd-right {
  flex: 0 0 28%;
  max-width: 300px;
}

.gs-back, .gs-back:hover, .gs-back:focus, .gs-back:active {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 0 40px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #2C4159;
}

.gs-back img {
  margin: 0 10px 0 0;
}

.gs-detail-coursename {
  color: #678BC3;
  text-transform: uppercase;
}

.gsd-single {
  margin: 0 0 48px 0;
}

.gsd-single:last-child {
  margin: 0;
}

.gsd-learnto.gsd-single {
  margin: 48px 0;
  padding: 20px 40px;
  border: 1px solid #0A43FF;
  border-radius: 16px 0px;
}

.gs-detail-subtitle {
  display: flex;
  align-items: center;
  width: 100%;
}

.gs-detail-subtitle img {
  margin: 0 16px 0 0;
}

.gsd-schedule-single {
  flex: 0 0 32.3333%;
  margin: 0 1.3333% 24px 0;
  padding: 25px;
  background: #FDEEEC;
  border-radius: 16px 0px;
}

.gsd-schedule-single:hover {
  background: #FF564A;
}

.gsd-schedule-single:hover p, .gsd-schedule-single:hover h4 {
  color: #fff;
}

.gsd-schedule-single:hover a.btn-fls-secondary {
  color: #fff;
  background: #0A43FF;
  border: 2px solid #0A43FF;
}

.gsd-schedule-single:nth-child(3n) {
  margin: 0;
}

.gsd-schedule-single:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.gsd-timing {
  color: #678BC3
}

.gsd-schedule-cta .btn-medium {
  padding: 12px 16px;
}

.gsd-count {
  min-width: 75px;
  height: 48px;
  padding: 10px 15px;
  background: #fff url('../images/count-dropdown.svg') no-repeat right 10px center;
  border-radius: 8px;
  font-size: 21px;
  font-weight: 700;
  line-height: 28px;
  color: #85A2CF;
  border: 0px none;
}

.gsd-count:after {
  content: none;
}

.gsd-cost-wrapper {
  width: 100%;
  padding: 24px 40px;
  background: #001866;
  border-radius: 16px 0px;
}

.gsd-title-cost {
  color: #F3A712;
}

.gsd-title-cost span {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #F8FAFC;
}

.gsd-cost-wrapper h4 span {
  font-weight: 500;
}

.gsd-cost-banner {
  width: 100%;
  max-width: 300px;
  height: 387px;
  object-fit: cover;
}

.other-courses-title {
  display: inline-block
}

.other-courses-icon {
  position: absolute;
  right: -65px;
  bottom: -20px;
}

.sec-testimonial-above-footer {
  margin-top: -190px;
  position: relative;
  top: 240px;
  padding: 60px 0 140px 0
}

.group-study-title .ue-img {
  position: absolute;
  top: -16px;
  left: -24px;
}

.il-single {
  flex: 0 0 24%;
  margin: 0 1.3333% 24px 0;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.08);
  border-radius: 16px 0px;
}

.il-single:nth-child(4n) {
  margin-right: 0px;
}

.il-single:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.ils-img {
  width: 100%;
  max-width: 260px;
  height: 177px;
  object-fit: cover;
}

.location-name {
  flex: 0 0 40%;
}

.availability {
  flex: 0 0 58%;
  text-align: right;
}

.availability .seat-status {
  position: relative;
}

.availability .seat-status::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -10px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
}

.availability .seat-status.available {
  color: #04B435
}

.availability .seat-status.available::before {
  background: #04B435
}

.availability .seat-status.soldout {
  color: #EF4135
}

.availability .seat-status.soldout::before {
  background: #EF4135
}

.il-single h4 {
  min-height: 52px;
}

.ils-desc {
  min-height: 45px;
}

.il-single h4, .ils-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ipd-left {
  flex: 0 0 68%;
  max-width: 845px;
}

.ipd-right {
  flex: 0 0 32%;
  align-self: stretch;
  background: #001866;
  border-radius: 0px 0px 16px 0px;
}

.ipd-banner {
  width: 100%;
  height: 440px;
  object-fit: cover;
}

.ipd-right-content {
  padding: 40px 45px;
}

.ipd-cta a.btn-fls-tertiary {
  padding: 14px 40px;
  margin: 0 16px 0 0;
}

.ipd-right .availability {
  flex: 0 0 100%;
  padding: 0 0 0 12px;
  text-align: left;
}

.ipd-cta .gsd-count {
  height: 56px;
  padding: 10px 15px 10px 20px;
  line-height: 34px;
}

.ipdb-left {
  flex: 0 0 40%;
}

.ipdb-right {
  flex: 0 0 58%;
}

.ipd-social a {
  margin: 0 8px 0 0;
}

.cu-img {
  position: absolute;
  left: -30px;
  top: -15px;
}

.cu-left {
  flex: 0 0 34%;
  max-width: 360px;
}

.cu-right {
  flex: 0 0 50%;
  max-width: 520px;
}

.contact-details-wrapper {
  margin: 40px 0 0 0;
  padding: 40px 0 0 0;
  border-top: 1px solid #AEB4B8;
}

.cd-single {
  margin: 0 0 32px 0;
}

.cds-left {
  flex: 0 0 50px;
}

.cds-right {
  width: 75%;
}

.sec-bg {
  background: #F8FAFC
}

.sec-contact-us {
  padding: 80px 0;
}

.contact-form-wrapper {
  width: 100%;
  max-width: 100%;
  padding: 40px;
  background: #fff;
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.08);
  border-radius: 16px 0px;
}

.form-group {
  position: relative;
  margin: 0 0 25px 0;
}

.contact-form-wrapper .form-group:last-child {
  margin: 0;
}

.contact-form-wrapper .form-group .btn-fls-primary {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sec-login {
  min-height: 70vh;
  padding: 80px 0;
}

.login-wrapper {
  max-width: 550px;
  margin: 0 auto;
  padding: 45px;
  background: #fff;
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.08);
  border-radius: 16px 0px;
  text-align: center;
}

.showpassword {
  position: absolute;
  bottom: 18px;
  right: 15px;
}

.login-cta {
  margin: 40px 0 16px 0 !important;
}

.create-account-link {
  font-size: 14px;
  line-height: 20px;
}

.forgot-password-form, .register-form {
  display: none;
}

.sec-myaccount {
  padding: 60px 0 80px 0;
}

.tabs-wrapper {
  padding: 20px 30px;
  background: #fff;
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.08);
  border-radius: 16px 0px;
}

.tabs-list {
  display: inline-block;
  border-bottom: 1px solid #ccc;
}

.tabs-list li {
  flex: 0 0 auto;
  display: inline-block;
  margin: 0 32px 0 0;
}

.tabs-list li:last-child {
  margin: 0;
}

.tabs-list li a {
  display: inline-block;
  padding: 16px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #666D78;
  border-bottom: 5px solid transparent;
}

.tabs-list li a.active, .tabs-list li a:hover {
  color: #202223;
  border-bottom: 5px solid #0A43FF;
}

.tabs-single {
  display: none;
  padding: 40px 0 0 0;
}

.af-single {
  position: relative;
  flex: 0 0 24%;
  margin: 0 0 24px 0;
}

.edit-af {
  position: absolute;
  right: 10px;
  top: 12px;
}

.sec-checkout {
  padding: 60px 0;
}

.cw-left {
  flex: 0 0 58%;
}

.cw-right {
  flex: 0 0 38%;
  margin:73px 0 0 0
}

.checkout-back, .checkout-back:hover, .checkout-back:focus, .checkout-back:active {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 0 40px 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #000;
}

.checkout-back img {
  margin: 0 10px 0 0;
}

.contact-info-wrapper {
  padding: 40px 20px;
  border: 1px solid #C7D3E9;
  border-radius: 16px 0px;
}

.add-reg, .add-reg:hover, .add-reg:focus, .add-reg:active {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #666D78;
}

.add-reg img {
  margin-top: -2px;
}

.reg-single {
  margin: 0 0 24px 0;
}

.reg-single:last-child {
  margin: 0;
}

.rs-title {
  cursor: pointer
}
.rs-title span{
  display: inline-block;
  width:120px;
}
.rs-title a img {
  margin: -2px 10px 0 0;
}

.arrow-reg {
  margin: -2px 0 0 16px;
}

.reg-form .form-group {
  flex: 0 0 49%;
}

.reg-form .form-group.f100 {
  flex: 0 0 100%;
}

.order-summary-wrapper {
  padding: 45px;
  background: #fff;
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.08);
  border-radius: 16px 0px;
}
.order-items-total{
  padding:16px 0 0 0;
  margin:16px 0 0 0;
  border-top:1px solid #9DB5D9
}
.oi-left{
  flex:0 0 80%;
}
.oi-right{
  flex:0 0 20%;
  text-align:right
}
.order-summary-cta{
  text-align:right;
}