@media (min-width:1441px) {}

@media(max-width:1440px) {}

@media (max-width:1280px) {
  .hp-cta a {
    padding: 15px;
  }
  .about-why-us-img {
    display: none;
  }
}

@media (min-width:992px) and (max-width:1280px) {}

@media (min-width:1200px) and (max-width:1280px) {
  .gs-left {
    flex: 0 0 40%;
  }
  .gs-right {
    flex: 0 0 55%;
  }
  .sec-home-whyus-bg {
    width: 98%;
  }
  .cw-single:first-child {
    padding: 0 40px 0 0;
  }
  .cw-single {
    padding: 0 40px;
  }
  .cw-single:last-child {
    padding: 0 0 0 40px;
  }
}

@media (max-width:1199px) {
  .hp-cta a {
    width: 100%;
  }
  .hp-cta a:first-child {
    margin: 0 0 16px 0;
  }
  .ptl-left span {
    left: 0;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .nav-menu {
    flex: 0 0 75%;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 8px;
  }
  .nav-link {
    font-size: 14px;
    line-height: 20px;
  }
  .gs-left {
    flex: 0 0 40%;
  }
  .gs-right {
    flex: 0 0 55%;
  }
  .gs-text {
    width: 65%;
  }
  .footer-single {
    flex: 0 0 18%;
    margin: 0 10px 0 0;
  }
  .footer-single.footer-logo-fls {
    flex: 0 0 200px;
  }
  .footer-single.footer-single.footer-abour-fls {
    flex: 0 0 150px;
  }
  .logo-footer {
    margin: 0 0 16px 0;
  }
  .sec-home-whyus-bg {
    width: 99%;
  }
  .hwwt-right {
    padding: 0 16px 0 0;
  }
  /* .testimonial-name h4{
    width:50%;
  } */
  .vt-info-wrapper h4 {
    flex: 0 0 75%;
  }
  .owl-nav {
    bottom: 1%;
  }
  .owl-nav button img {
    width: 32px;
  }
  .counter-wrapper {
    padding: 40px;
    ;
  }
  .cw-single:first-child {
    padding: 0 24px 0 0;
  }
  .cw-single {
    padding: 0 24px;
  }
  .cw-single:last-child {
    padding: 0 0 0 24px;
  }
  .sec-testimonial.sec-testimonial-about .testimonial-title {
    font-size: 120px;
    line-height: 190px;
  }
  .gsl-single-right {
    flex: 0 0 45%;
  }
  .cd-left {
    flex: 0 0 100%;
  }
  .course-details-wrapper .cd-right {
    margin-top: 16px;
  }
  .gsl-single-right h4 {
    -webkit-line-clamp: 3;
  }
  .gsd-left {
    flex: 0 0 65%;
  }
  .gsd-right {
    flex: 0 0 32%;
  }
  .gsd-schedule-single, .gsd-schedule-single:nth-child(3n) {
    flex: 0 0 48%;
    margin: 0 2% 24px 0;
  }
  .gsd-schedule-single:nth-child(2n) {
    margin-right: 0;
  }
  .gsd-schedule-single:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .il-single {
    flex: 0 0 31.3333%;
  }
  .il-single:nth-child(4n) {
    margin-right: 1.3333%;
  }
  .il-single:nth-last-child(-n+4){
    margin-bottom:24px;
  }
  .ils-img {
    max-width: 100%;
  }
  .ipd-left {
    flex: 0 0 60%;
  }
  .ipd-right {
    flex: 0 0 40%;
  }
  .order-summary-wrapper{
    padding:40px 20px;
  }
}

@media (min-width:992px) {}

@media (max-width:991px) {
  .title-1 {
    font-size: 38px;
    line-height: 46px;
  }
  .title-2 {
    font-size: 28px;
    line-height: 34px;
  }
  .title-3 {
    font-size: 21px;
    line-height: 28px;
  }
  .title-4 {
    font-size: 18px;
    line-height: 26px;
  }
  .txtl {
    font-size: 16px;
    line-height: 24px;
  }
  .txtm {
    font-size: 14px;
    line-height: 20px;
  }
  .navbar-toggler {
    display: block;
    float: right;
    margin-top: 15px;
  }
  .navbar-toggler-icon {
    display: block;
    width: 30px;
    height: 3px;
    margin: 0 0 6px 0;
    background: #000;
    border-radius: 10px;
  }
  /*Toggle between hanburger and close icon*/
  .navbar-toggler-icon {
    display: block;
    width: 30px;
    height: 3px;
    margin: 0 0 6px 0;
    background: #000;
    border-radius: 10px;
  }
  .navbar-toggler .navbar-toggler-icon {
    transition: .3s ease-in-out;
  }
  .navbar-toggler.open span:nth-child(1) {
    display: none;
  }
  .navbar-toggler.open span:nth-child(2) {
    transform: rotate(45deg);
    position: relative;
    top: 9px;
  }
  .navbar-toggler.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  /*Toggle between hanburger and close icon*/
  .nav-account {
    display: none;
  }
  .my-account-mobile {
    display: block;
  }
  /* .nav-menu{
    justify-content: flex-end;
  } */
  .navbar {
    padding: 0;
    width: 100%;
  }
  .nav-logo {
    flex: 0 0 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .nav-menu {
    flex: 0 0 100%;
  }
  .navbar-collapse {
    background: #fff;
    position: absolute;
    width: 100%;
    top: 10px;
    box-shadow: 0px 13px 13px rgb(0 0 0 / 8%);
  }
  .navbar-nav {
    max-width: 720px;
    margin: 0 auto;
    padding: 15px;
  }
  .fls-nav-container .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .content-push {
    margin-top: 94px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 12px;
    border-bottom: 1px solid #e6e6e6
  }
  .navbar-expand-lg .navbar-nav li.nav-item:last-of-type .nav-link {
    border-bottom: 0px
  }
  .nav-fls-dropdown {
    box-shadow: none;
    border-radius: 0px;
    background: #f9f9f9;
  }
  .footer-top-wrapper {
    padding: 40px 0;
  }
  .footer-bottom-wrapper {
    padding: 40px 0;
  }
  .sec-single {
    margin: 40px 0 0 0;
  }
  .sec-home-whyus {
    padding: 40px 0;
  }
  .testimonial-quote-wrapper {
    margin: 0 0 40px 0;
  }
  .ht-left, .ht-right {
    width: 100%;
  }
  .ht-right {
    margin-top: 24px;
  }
  .cv-single {
    padding: 24px;
  }
  .group-study-title .uc-img, .group-study-title .ue-img, .cu-img {
    display: none;
  }
  .gsl-single-right {
    flex: 0 0 100%;
    margin: 16px 0 0 0;
  }
  .cd-left {
    flex: 0 0 100%;
    margin: 0 0 16px 0;
  }
  .gsd-schedule-single {
    flex: 0 0 100%;
    margin: 0 0 24px 0 !important;
  }
  .gsd-schedule-single:last-child {
    margin: 0 !important
  }
  .ipd-left, .ipd-right {
    flex: 0 0 100%;
  }
  .ipd-right-content {
    padding: 24px;
  }
  .ipd-banner {
    height: auto
  }
  .location-address {
    margin-bottom: 24px;
  }
  .sec-contact-us, .sec-login,.sec-myaccount,.sec-checkout {
    padding: 40px 0;
  }
  .tabs-wrapper{
    padding:16px;
  }
  .tabs-list {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: scroll;
  }
  .person-name{
    margin:0 0 16px 0;
  }
  .order-summary-wrapper{
    padding:40px 20px;
  }
  .oi-left,.oi-right{
    flex:0 0 100%;
  }
  .order-items-single.order-items-total .oi-left,.order-items-single.order-items-total .oi-right{
    flex:0 0 50%;
    margin:0;
  }
  .order-items-single.order-items-total .oi-right{
    text-align:right;
  }
  .oi-right{
    margin:12px 0;
    text-align:left;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .gs-left {
    flex: 0 0 40%;
  }
  .gs-right {
    flex: 0 0 60%;
  }
  .gs-text {
    width: 50%;
  }
  .footer-single {
    flex: 0 0 23%;
  }
  .footer-single.footer-logo-fls {
    flex: 0 0 100%;
    margin: 0 0 24px 0;
  }
  .footer-single.footer-single.footer-abour-fls {
    flex: 0 0 150px;
  }
  .logo-footer {
    margin: 0 16px 16px 0;
  }
  .footer-about-wrapper {
    justify-content: flex-start;
    align-items: center
  }
  .fa-right {
    flex: 0 0 80%;
  }
  .sec-home-whyus-bg {
    width: 99%;
  }
  .hwwt-right {
    padding: 0 16px 0 0;
  }
  .whyus-step-single:first-child {
    padding: 0 16px 0 0;
  }
  .whyus-step-single {
    padding: 0 16px;
  }
  .whyus-step-single:last-child {
    padding: 0 0 0 16px;
  }
  .testimonial-title {
    font-size: 80px;
    line-height: 120px;
  }
  .sec-home-testimonial {
    margin-top: -170px;
  }
  .counter-wrapper {
    padding: 40px;
  }
  .core-values-list li {
    font-size: 20px;
    line-height: 26px;
  }
  .sec-testimonial.sec-testimonial-about {
    padding: 150px 0 250px 0;
  }
  .sec-about-3 {
    margin-top: -275px;
  }
  .gsd-left {
    flex: 0 0 55%;
  }
  .gsd-right {
    flex: 0 0 40%;
  }
  .il-single {
    flex: 0 0 48%;
    margin: 0 2% 24px 0;
  }
  .il-single:nth-child(2n), .il-single:nth-child(4n) {
    margin-right: 0
  }
  .il-single:nth-last-child(-n+4) {
    margin-bottom: 24px;
  }
  .il-single:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .ils-img {
    max-width: 100%;
  }
  .cu-left, .cu-right {
    flex: 0 0 48%
  }
  .af-single{
    flex:0 0 49%;
  }
}

@media (max-width:767px) {
  .plm0 {
    padding-left: 0;
  }
  .prm0 {
    padding-right: 0;
  }
  /*Additional padding*/
  .fti-wrapper, .get-started-wrapper, .footer-bottom-wrapper, .footer-legal, .homepage-about-wrapper, .home-whyus-container, .home-programs-wrapper, .sec-home-programs h2, .testimonial-quote-wrapper, .testimonial-title, .home-testimonial-wrapper, .sec-top-wrapper, .about-intro-wrapper, .core-values-wrapper, .why-choose-us-wrapper, .pvt-tuition-wrapper, .group-study-title, .group-study-list-wrapper, .gs-detail-wrapper, .immersive-list-wrapper, .ip-detail-top-wrapper, .ip-detail-bottom-wrapper, .sec-ip-detail-2 h2, .sec-contact-us, .sec-login,.sec-myaccount,.sec-checkout {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .sec-myaccount  .immersive-list-wrapper,.sec-myaccount  .group-study-list-wrapper{
    padding-left:0 !important;
    padding-right:0 !important;
  }  
  .gs-left, .gs-right {
    flex: 0 0 100%;
  }
  .gs-left {
    margin: 0 0 16px 0;
  }
  .gs-form {
    text-align: left;
  }
  .gs-text {
    width: 100%;
    margin: 0 0 16px 0;
  }
  .fti-wrapper {
    margin-top: -35px;
  }
  .footer-single.footer-logo-fls {
    flex: 0 0 100%;
    margin: 0 0 16px 0;
    padding: 0;
  }
  .logo-footer {
    margin: 0 0 16px 0;
  }
  .fa-right {
    flex: 0 0 100%;
  }
  .footer-about-wrapper {
    margin: 0 0 24px 0;
  }
  .footer-single {
    flex: 0 0 100%;
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    border-bottom: 1px solid #c9c9c9;
  }
  .footer-single:last-child {
    margin: 0;
    padding: 0;
    border-bottom: 0px none;
  }
  .fl-right {
    margin: 8px 0 0 0;
  }
  .homepage-banner-text {
    position: static;
  }
  .homepage-banner-text {
    padding: 0 15px
  }
  .homepage-banner-text h1 {
    margin: 16px 0;
  }
  .sec-home-whyus-bg {
    width: 99%;
  }
  .hwwt-left, .hwwt-right {
    flex: 0 0 100%;
  }
  .hwwt-left {
    margin: 0 0 16px 0;
  }
  .whyus-step-single {
    flex: 0 0 100%;
    margin: 0 0 16px 0;
  }
  .whyus-step-single, .whyus-step-single:first-child, .whyus-step-single:last-child {
    padding: 0 16px 0 0;
    border: 0px none;
  }
  .hp-single, .hp-single:first-child {
    flex: 0 0 100%;
    margin: 0 0 24px 0;
  }
  .testimonial-title {
    font-size: 42px;
    line-height: 68px;
  }
  .sec-home-testimonial {
    margin-top: -150px;
  }
  .testimonial-name h4 {
    width: 100%;
  }
  .testimonial-name {
    margin: 16px 0 0 0;
  }
  .owl-nav {
    position: static;
    margin-top: 24px;
  }
  .vt-single {
    flex: 0 0 100%;
  }
  .counter-wrapper {
    padding: 32px;
  }
  .cw-single:first-child, .cw-single, .cw-single:last-child {
    flex: 0 0 100%;
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    text-align: center;
    border: 0px none;
    border-bottom: 1px solid #fff;
  }
  .cw-single:last-child {
    padding: 0;
    margin: 0;
    border-bottom: 0px none;
  }
  .sec-internal-intro {
    padding: 40px 0;
  }
  .ai-left, .ai-right {
    flex: 0 0 100%;
  }
  .ai-left img {
    margin: 0 0 16px 0;
  }
  .cv-left, .cv-right {
    flex: 0 0 100%;
  }
  .cv-single.cv-mission {
    margin: 0 0 24px 0;
  }
  .core-values-list li {
    font-size: 18px;
    line-height: 22px;
  }
  .sec-testimonial.sec-testimonial-about .testimonial-title {
    font-size: 36px;
    line-height: 48px;
  }
  .sec-testimonial.sec-testimonial-about {
    padding: 150px 0 100px;
  }
  .sec-about-3 {
    margin-top: -108px;
  }
  .wub-left, .wub-right {
    flex: 0 0 100%;
  }
  .wub-right {
    margin: 16px 0 0 0;
  }
  footer {
    margin-top: 80px;
  }
  .ptl-left, .ptl-right {
    flex: 0 0 100%;
  }
  .ptl-right {
    margin-top: 32px;
  }
  .ptl-left span {
    font-size: 90px
  }
  .pt-list-single img.pt-list-img {
    height: 250px;
  }
  .ptl-title-img {
    display: none;
  }
  .ptl-right h2 {
    padding: 0;
  }
  .pt-list-single {
    margin: 0 0 70px 0;
  }
  .pt-list-single:nth-child(even) .ptl-left {
    order: 1
  }
  .pt-list-single:nth-child(even) .ptl-right {
    order: 2
  }
  .gs-detail-wrapper {
    margin: 40px 0 0 0;
  }
  .gsl-single {
    flex: 0 0 100%;
  }
  .gsd-left, .gsd-right {
    flex: 0 0 100%;
    margin: 24px 0 0 0;
  }
  .sec-testimonial-above-footer {
    top: 180px;
  }
  .il-single {
    flex: 0 0 100%;
    margin: 0 0 24px 0 !important;
  }
  .ils-img {
    max-width: 100%;
  }
  .ipdb-left, .ipdb-right {
    flex: 0 0 100%;
  }
  .ipdb-right {
    margin: 24px 0 0 0;
  }
  .cu-left, .cu-right {
    flex: 0 0 100%;
  }
  .cds-email {
    word-break: break-all;
  }
  .contact-form-wrapper {
    padding: 24px;
  }
  .login-wrapper {
    padding: 24px;
  }
  .create-account-link {
    display: block
  }
  .af-single{
   flex:0 0 100%;
  }
  .cw-left,.cw-right{
    flex:0 0 100%;
  }
  .cw-right{
    margin:40px 0 0 0;
  }
  .reg-form .form-group{
    flex:0 0 100%;
  }  
}

@media (max-width:359px) {
  /*Remove additional padding*/
  .fti-wrapper, .get-started-wrapper, .footer-bottom-wrapper, .footer-legal, .homepage-about-wrapper, .home-whyus-container, .home-programs-wrapper, .sec-home-programs h2, .testimonial-quote-wrapper, .testimonial-title, .home-testimonial-wrapper, .sec-top-wrapper, .about-intro-wrapper, .core-values-wrapper, .why-choose-us-wrapper, .pvt-tuition-wrapper, .group-study-title, .group-study-list-wrapper, .gs-detail-wrapper, .immersive-list-wrapper, .ip-detail-top-wrapper, .ip-detail-bottom-wrapper, .sec-ip-detail-2 h2, .sec-contact-us, .sec-login,.sec-myaccount,.sec-checkout {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .ci-title h3{
    margin:0 0 16px 0;
  }
}