@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/InterUI-Regular.woff2') format('woff2'), url('../fonts/InterUI-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterUI-Medium';
  src: url('../fonts/InterUI-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/InterUI-Medium.otf') format('opentype'), url('../fonts/InterUI-Medium.woff') format('woff'), url('../fonts/InterUI-Medium.ttf') format('truetype'), url('../fonts/InterUI-Medium.svg#InterUI-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterUI-SemiBold';
  src: url('../fonts/InterUI-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/InterUI-SemiBold.otf') format('opentype'), url('../fonts/InterUI-SemiBold.woff') format('woff'), url('../fonts/InterUI-SemiBold.ttf') format('truetype'), url('../fonts/InterUI-SemiBold.svg#InterUI-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterUI-Bold';
  src: url('../fonts/InterUI-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/InterUI-Bold.otf') format('opentype'), url('../fonts/InterUI-Bold.woff') format('woff'), url('../fonts/InterUI-Bold.ttf') format('truetype'), url('../fonts/InterUI-Bold.svg#InterUI-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  /* font-family: 'Inter UI'; */
  font-family: 'Manrope', sans-serif !important;
  font-weight: 400;
}
body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close{
  font-family: 'Manrope', sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
  font-weight:700
}
.sidebar.sidebar-style-2 .nav.nav-primary>.nav-item.active>a.itara-btn-black {
  display:block !important;
  background:#002290 !important;
  color: #fff !important;
  /* border: 1px solid #111111 !important; */
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.06) !important;
  border-radius: 3px !important;
  text-align:left !important;
  font-weight:600;
}
.main-header .navbar-header[data-background-color] .nav-search .input-group.main-search{
  background: rgba(255, 255, 255, 0.18) !important;
}
.sidebar.sidebar-style-2 .nav .nav-item a:hover{
  background:#E3E3E3 !important;
  color:#070707 !important
}
.sidebar-menu-icon{
  margin-right:10px;
  width: 20px;
  height: 20px;
}
.nav-seperator{
  margin-top:50px !important;
}
.sidebar .nav > .nav-item a p{
  color:#070707 !important;
  font-weight:normal !important;
}
.profile-icon{
  width: 25px !important;
  height: 25px !important;
  margin-top: 10px;
  position: relative;
  top: 0;
  right: -7px;
}
.back-icon-title{
  position:relative;
  top:-2px;
  width:24px;
  height:24px;
}
.nav.nav-itara-pills li a{
  color:#111111;
  border-bottom:4px solid transparent;
}
.nav.nav-itara-pills li a.active{
  border-bottom:4px solid #111111;
}
.page-item.active .page-link{
  background:#002290;
  border-color:#002290;
}
.table thead th{
  border-bottom-width:1px !important;
}
.table-bordered{
  border:0px none;
}
table.table-bordered.dataTable tbody td,table.table-bordered.dataTable th{
  color:#062237 !important;
  border-bottom-width:1px !important;
  border-right-width:0 !important
}
table.table-bordered.dataTable th{
  background:#f4f4f4;
}
.general-inquiry-label{
  position:relative;
  display:inline-block;
  padding:0 8px;  
  font-size:11px;
  border:1px solid #B52C49;
  border-radius: 6px;
  color:#B52C49;
  letter-spacing:0;
}
.general-inquiry-label:before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:5px;
  background:#B52C49;
}
.custom-ring-inquiry-label{
  position:relative;
  display:inline-block;
  padding:0 8px;  
  font-size:11px;
  border:1px solid #CE4B27;
  border-radius: 6px;
  color:#CE4B27;
  letter-spacing:0;
}
.custom-ring-inquiry-label:before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:5px;
  background:#CE4B27;
}
.bespoke-inquiry-label{
  position:relative;
  display:inline-block;
  padding:0 8px;  
  font-size:11px;
  border:1px solid #155CA2;
  border-radius: 6px;
  color:#155CA2;
  letter-spacing:0;
}
.bespoke-inquiry-label:before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:5px;
  background:#155CA2;
}
.b2b-inquiry-label{
  position:relative;
  display:inline-block;
  padding:0 8px;  
  font-size:11px;
  border:1px solid #028D71;
  border-radius: 6px;
  color:#028D71;
  letter-spacing:0;
}
.b2b-inquiry-label:before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:5px;
  background:#028D71;
}
.new-inquiry-label{
  display:inline-block;
  padding:2px 8px;  
  font-size:11px;
  background:#B4D8CA;
  color:#003E1F;
  border-radius: 6px;
  letter-spacing:0;
}
.ongoing-inquiry-label{
  display:inline-block;
  padding:2px 8px;  
  font-size:11px;
  background:#FADEC6;
  color:#874000;
  border-radius: 6px;
  letter-spacing:0;
}
.closed-inquiry-label{
  display:inline-block;
  padding:2px 8px;  
  font-size:11px;
  background:#F9DCDC;
  color:#A11719;
  border-radius: 6px;
  letter-spacing:0;
}
.pending-payment-label{
  display:inline-block;
  padding:2px 8px;  
  font-size:11px;
  background:#EFD7CD;
  color:#6B3D2B;
  border-radius: 6px;
  letter-spacing:0;
}
.paid-payment-label{
  display:inline-block;
  padding:2px 8px;  
  font-size:11px;
  background:#C6ECE3;
  color:#028D71;
  border-radius: 6px;
  letter-spacing: -0.2px;
}
.active-label{
  display:inline-block;
  padding:2px 8px;  
  font-size:14px;
  font-weight:600;
  /* background:#CAD5F8; */
  color:#17AA5D;
  /* border-radius: 6px; */
  letter-spacing: -0.2px;
}
.inactive-label{
  display:inline-block;
  padding:2px 8px;  
  font-size:14px;
  font-weight:600;
  /* background:#D3D9D6; */
  color:#EF4135;
  /* border-radius: 6px; */
  letter-spacing: -0.2px;
}
.actions a{
  margin-right:5px;  
}
.inquiry-quickinfo-top{
  display:flex;
  flex-wrap: wrap;
  padding:0;
  margin:0 0 20px 0;
  border-bottom:1px solid #E3E3E3;
}
.inquiry-quickinfo-top div{
  margin-right:30px;
}
.detail-block{
  margin:10px 0 30px 0;
}
.detail-block h3{
  font-weight:bold;
}
.detail-block p{
  margin:0 0 5px 0;
}
.detail-block .table td,.detail-block .table th{
  padding-left:0 !important;
}
.refund-quickinfo-top{
  margin:0 0 20px 0;
  padding:15px;
  background:#f4f4f4;
  box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
  border-radius:0 0 3px 3px;
  border-top:3px solid #ABABAB;
}
.refund-quickinfo-top a,.refund-quickinfo-top a:hover,refund-quickinfo-top a:active,.refund-quickinfo-top a:focus{
  text-decoration: none;
}
.refund-quickinfo-top a p{
  margin:0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  color:#111;  
}
.detail-block-single{
  margin:0 0 15px 0;
  padding:15px;
  background:#f4f4f4;
}
.order-product-info{
  padding:0 0 10px 0;
  margin:0 0 10px 0;
  display: flex;
  justify-content: flex-start;
  border-bottom:1px solid #E3E3E3;
}
.order-product-info img{
  margin-right:15px;
  width:80px;
  height:80px;
  object-fit:cover;
}
.order-summary-info{
  display:flex;
  justify-content: flex-start;  
  
}
.notes-from-client{
  margin-right:15px;
  flex:0 0 60%;
  max-width: 60%;
}
.order-summary p{
  margin:0 0 10px 0;
}
.page-header.page-header-btn{
  justify-content: space-between;
}
.page-header-title{
  display:flex;
  justify-content:flex-start
}
.btn-dark-itara,.btn-dark-itara:hover,.btn-dark-itara:focus,.btn-dark-itara:active{
  display:inline-block;
   background:#002290 !important;
  color: #fff !important;
  padding:10px 20px !important;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
.btn-light-itara,.btn-light-itara:hover,.btn-light-itara:focus,.btn-light-itara:active{
  display:inline-block;
  background:#E3E3E3;
  color:#070707;
  padding:10px 20px !important;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
.page-header hr{
  background:#E3E3E3
}
.form-group{
  padding:0 !important;
  margin:0 0 20px 0 !important;
}
.form-control{
  border: 1px solid #D4D6DF !important;
  border-radius: 3px !important;
  background-color: #FFFFFF !important;
}
.main-search .form-control{
  border:0px none !important;
}
.form-control:focus{
  border: 1px solid #DCA2A2 !important;
}
.main-search .form-control:focus{
  border:0px none !important;
}
.section-single{
  margin:0 0 20px 0;
  padding:0 0 20px 0;
  border-bottom:1px solid #111;
}
.section-single.last{
  border-bottom:0px none;
}
.section-single h3{
  margin:0 0 20px 0;
  color: #111; 
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.23px;
  line-height: 21px;
}
.add-more-img{
  margin-top:5px;
  width:30px;
  height:30px;
}
.section-sidebar{
  padding:15px;
}
.section-bordered{
  border: 1px solid #D4D6DF;
}
.section-sidebar h4{
  margin:0 0 20px 0;
  color:#111;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
.section-sidebar ul{
  padding-left:20px
}
.sidebar-actions{
  margin:10px 0 0 0;
  padding:15px 0 0 0;
  border-top: 1px solid #D4D6DF;
}
.action-icon,.action-icon:hover,.action-icon:focus,.action-icon:active{
  display:inline-block;
  margin-right:10px;
  color: #111111;  
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
}
.toggle.btn{
  width:60px !important
}
.customer-detail-avatar{
  width:60px;
  height:60px;
  border-radius:60px;
  object-fit:cover;
}
.customer-detail-info p{
  margin:0;
}
input[type="file"].form-control{
  padding-left:0;
  border:0px none !important;
}
.page-card-link,.page-card-link:hover,.page-card-link:focus,.page-card-link:active{
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.2px;
  color: #111;
  text-decoration: none;
}
.page-card-link .card{
  background: #FFFFFF;
  border: 2px solid #EEEFF1;
  border-radius: 8px;
  box-shadow:none;
}
.itaracms-img{
  width:200px;
  height:200px;
  object-fit:cover;  
}
.profile-upload-btn{
  margin-left:-15px;
}
#profile-pic-avatar{
  width:100px;
  height:100px;
  object-fit:cover;
  border: 1px dashed #000831;
  border-radius:100px;
}
.btn-primary label,.btn-primary:hover label,.btn-primary:focus label,.btn-primary:active label{
  margin: 0 !important;
  color: #fff !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  cursor:pointer !important;
  background:#2B3B31 !important;
}
.btn.btn-primary label{
	background:transparent !important;
}
.preview-img-wrapper{
  margin:0;
  line-height:0;
}
.preview-img-wrapper img{
  width:200px;
  height:100px;
  object-fit:cover;
  border:1px solid #495057
}
.logo-header{
	background: #001866 !important;
}
.fc-day-grid-event .fc-content{
	background:#001866
}
.fc-content span{
	color:#fff;
}
.fc-day-grid-event .fc-time{
	display:none;
}
.bootstrap-timepicker-widget table td a{
	background: #394d8d
}
.bootstrap-timepicker-widget table td a:hover,.bootstrap-timepicker-widget table td a:focus,.bootstrap-timepicker-widget table td a:active,.bootstrap-timepicker-widget table td a:hover{
	background:#001866 !important
}
[data-action="incrementHour"],[data-action="incrementMinute"],[data-action="decrementHour"],[data-action="decrementMinute"],[data-action="toggleMeridian"]  {
    position:relative;
}
[data-action="incrementHour"]:before,[data-action="incrementMinute"]:before{
	content:"+";
	position:absolute;
    top: -4px;
    left: 0;
    right: 0;
    color: #fff;
}

[data-action="decrementHour"]:before,[data-action="decrementMinute"]:before{
	content:"-";
	position:absolute;
    top: -4px;
    left: 0;
    right: 0;
    color: #fff;
}
[data-action="toggleMeridian"]:before{
	content:"AM/PM";
	position:absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
	font-size:10px
}

.bootstrap-timepicker-widget table td input{
	width:35px !important
} 
div.fc-event-container{
	height:200px;
	overflow-y:scroll;
}


div.fc-event-container::-webkit-scrollbar {
  width: 10px;
}



div.fc-event-container::-webkit-scrollbar-track {
  background: #D9E2F0;
  ;
}



div.fc-event-container::-webkit-scrollbar-thumb {
  background: #737b86;
  ;
}



div.fc-event-container::-webkit-scrollbar-thumb:hover {
  background: #737b86;
  ;
}
.fc-more-popover{
	width:300px !important;
}
.p5{
  padding:5px !important
}
.mt5{
  margin-top:5px !important
}
.mb5{
  margin-bottom:5px !important
}
.bg-transparent{
  background-color: transparent;
}
input[type="file"].form-control{
  background:transparent !important;
}
.sidebar{
  background: #EBEAE9 !important;
}
.sidebar.sidebar-style-2 .nav .nav-item .active a,.sidebar.sidebar-style-2 .nav .nav-item .active a:hover,.sidebar.sidebar-style-2 .nav .nav-item .active a:focus,.sidebar.sidebar-style-2 .nav .nav-item .active a:active,.sidebar.sidebar-style-2 .nav .nav-item  a:hover{
  background: #fff !important;
  color:#001866 !important;
  border-radius: 7px;
}
/* .sidebar.sidebar-style-2 .nav .nav-item .nav-collapse .active a{
  background:transparent !important;
  padding: 0 25px !important;
} */
.main-header .navbar-header[data-background-color] .nav-search .input-group .form-control::placeholder{
  color:#fff !important
}
.fc-toolbar .fc-state-active,.fc-toolbar .fc-state-active:hover,.fc-toolbar .fc-state-active:focus,.fc-toolbar .fc-state-active:active{
  background:#002290 !important
}
.sidebar.sidebar-style-2 .nav .nav-item{
  margin:0 10px 0 0;
}
.page-title a{
  margin:0 10px 0 0;
}
.sidebar .nav-collapse{
  margin-bottom:0 !important;
  padding-bottom:0 !important;
}
.nav-logo a img{
  height:auto !important
}
.navbar-header{
  padding-top:0 !important;
  padding-bottom:0 !important;
}
.testimonial-video-table .select2-container--default .select2-selection--multiple .select2-selection__rendered li{
  display: block !important;
  width: 100% !important;
}