blockquote {position:relative; padding-left:60px; margin-bottom:30px;}
blockquote::before {content: "“";display: block;height: 0;left: 0px;position:absolute;top:20px;font-family: 'Montserrat', sans-serif;
font-size:72px;color:#000;font-weight:bold;}
ol, ul {
    margin:initial;
    padding:initial;
    list-style:initial;
}
h1 {font-size:32px; text-align:center; color:#000;font-family: 'Montserrat', sans-serif;}
h2 {font-size: 24px;font-weight: 600;color: #000;text-transform: uppercase;margin-bottom: 20px;font-family: "Montserrat", sans-serif;}
h3 {font-size:18px; text-transform:uppercase; color:#000; margin-bottom:20px;font-family: 'Montserrat', sans-serif;}
h4 {font-size:12px;font-family: 'Montserrat', sans-serif; font-weight:bold; color:#000; text-transform:uppercase; padding-left:10px; margin-bottom:20px;}

.blog-top {clear:both; text-align:center; margin-bottom:60px;}
.blog-top img {margin-bottom:50px;}
.blog-top h1 {font-size:36px;font-family: 'Montserrat', sans-serif; font-weight:normal;color:#000;}
.dt-name {font-size:14px; margin-bottom:20px;margin-top: 14px;}
.dt-name span {color:#66a3f0;}
.quote-text i {font-style: normal;display: inline-block;font-size: 32px;color: #000;float: left;}
.quote-text span {display: block;padding-left: 55px;}
.pf-bg {float:left; margin-bottom:50px; }
.pf-bg img {width:70px;height:70px;border-radius:50%;}
.tags-at .buttons {margin-bottom:50px;}
.pf-cp {float:left; margin-left:30px; margin-top:10px;}
.pf-posted {font-size:12px;color:#606060; margin-bottom:5px;}
.pf-name {color:#000;font-family: 'Montserrat', sans-serif;}
.articleTop-wrap.nav-up {top: -90px !important;}
.section-1 {text-align:initial; padding:0;}
.container-scam{position:relative;height:142px}
.articleBottom-wrap{width:100%;transition: top 0.2s ease-in-out;}
.articleBottom{background:#fff; padding:60px 60px 50px 60px; text-align:center;}
.articleBottom.hide{visibility:hidden;opacity:0;}
.articleBottom h1 {font-size:32px; text-align:center; color:#000;font-family: 'Montserrat', sans-serif;}
.articleBottom .datearticle {font-size:14px; text-align:center; display:inline-block; margin-top:14px; margin-bottom:20px;font-family: 'Montserrat', sans-serif;}
.datearticle span {color:#66a3f0;}
.articleBottom .buttons .tags {display:inline-block; margin:0 5px;}
.buttons {clear:both;}
.article {clear:both; background:#fff;}
.imgwithcaption {clear:both; margin-top:20px; width:100%; text-align:center; font-size:12px; padding:20px;}
.imgcaption {clear:both; padding:20px; margin-bottom:20px; text-align:center;}
.article p {margin-bottom:30px;}
.withqutmark {position:relative; padding:0 0 0 40px;}
.withqutmark:before {content:"“"; font-size:72px; color:#000; position:absolute; font-weight:bold; top:-18px;left:0;}
.title-3 {font-size:18px; text-transform:uppercase; color:#000; margin-bottom:20px;font-family: 'Montserrat', sans-serif;}
.video {width:70%; clear:both; margin:0 auto 30px auto;}
.video iframe {height:515px;}
.btn-line {clear:both; width:103%; height:1px; background:#ebebeb; margin-left:-1.5%;}
.tags-at {clear:both; padding:20px 10px; margin-bottom:25px;}
.titletags {font-size:12px; text-transform:uppercase; margin-bottom:10px;font-family: 'Montserrat', sans-serif; font-weight:bold;}
.tags .buttons .btn2 {margin:0 5px 0 0;}
.mid-articles {clear:both; padding:20px 0; background:#efeeee;}
.title-4 {font-size:12px;font-family: 'Montserrat', sans-serif; font-weight:bold; color:#000; text-transform:uppercase; padding-left:10px; margin-bottom:20px;}
.articlebox-holder {padding:0 0 0 10px;}
.articlebox {float:left; width:33.33333333%; padding:0 20px 0 0;}
.articlebox2 {width:66.66%; text-align:left;}
.title-artcile {font-family: 'Montserrat', sans-serif;color:#000;margin-bottom:10px;margin-top:5px;}
.title-artcile a {color:#000;}
.articlebox img {width:100%;}
.articlebox .button span {display:inline-block; font-size:12px;padding-left:10px;}
.text-right {text-align:right;}
.articlebox-right {padding:0 0 0 20px; text-align:right;}
.articlebox-right .button span {padding-right: 10px;}
.comment {padding:55px 0;}
.title4 {font-family: 'Montserrat', sans-serif; color:#000; font-size:24px;}
.comment .title4 {text-align:left; text-transform:uppercase; margin-bottom:30px;}
.input-control textarea {padding:20px; width:100%; border:1px solid #ebebeb; height:140px; border-left:0; color:#606060; text-align:left; font-size:14px;}
.buttonholder .btn {min-width:178px; float:left;}
.comment .buttonholder {margin-bottom:30px; overflow:hidden;}
.profile {float:left; width:15%;}
.profile img {border-radius:50%;}
.comment-holder {text-align:left; overflow:hidden; padding:36px 0; border-bottom:1px solid #ebebeb;}
.comment-des {float:left; width:85%;}
.profile-name {float:left;font-family: 'Montserrat', sans-serif; font-weight:bold; color:#000; margin-bottom:25px;}
.profile-name span {padding-left:10px; font-weight:normal; font-family:initial;}
.comment-text {clear:both;}
.btnreply{margin-top:30px;}
.btnreply a {display:inline-block; position:relative; padding-left:30px;font-family: 'Montserrat', sans-serif; font-weight:bold; text-transform:uppercase; font-size:12px; color:#000;}
.btnreply a:before {background:url('../img/magzine/reply-icon.png') no-repeat; content:""; width:18px; height:16px; position:absolute;top:2px; left:0;}
.comment-reply{clear:both; margin-left:15%; padding:36px 0;border-bottom:1px solid #ebebeb; overflow:hidden;}
.add-banner img {width:100%;}
.btn-mg {margin-bottom:46px;}
.ad-ttile {margin-bottom:20px;}
.articleTop-wrap{position:absolute;width:100%;left:0;top:0;visibility:hidden;opacity:0;transition: top 0.5s ease-in-out;}
.articleTop-wrap.show{visibility:visible;opacity:1;position:fixed;top:60px;background: #fff;
z-index: 2;}
.articleTop {background:#fff; padding:22px; overflow:hidden;}
.article-left {float:left;}
.article-left h1 {font-weight:normal; font-size:24px;font-family: 'Montserrat', sans-serif; color:#000; margin-bottom:10px;}
.replyBox .form-error {position:relative;}
.article-left .datearticle {margin-bottom:10px;}
.article-left .datearticle span {color:#66a3f0; font-weight:bold;margin-right: 10px;font-family: 'Montserrat', sans-serif;}
.article-left .buttons {margin-top:10px;}
.article-left .buttons .btn{margin-right:8px;}
.share {float:right;margin-top: 45px; padding-right:17px;}
.share a {display:block; position:relative; font-size:12px; text-transform:uppercase;font-family: 'Montserrat', sans-serif; font-weight:bold;color:#000;}
.share a:before {position:absolute; content:"";background:url('../img/magzine/share-icon.png') no-repeat; width:20px; height:17px; left:-40px;top:5px;}
.bn-img {text-align:center;}
.description-text {clear:both; margin-bottom:20px;}
.quote-text {margin-bottom:20px;}
#postcommentform .form-error {position:relative;}
@media(max-width:767px){
blockquote {padding-left:30px; margin-bottom:20px;}
blockquote::before {top:-8px;font-size:46px;}	
h1 {font-size:24px; margin-bottom:10px;}
h2 {font-size:18px;margin-bottom:10px;}
h3 {font-size:16px;margin-bottom:10px;}
h4 {font-size:14px;margin-bottom:10px;}		
.blog-top img {margin-bottom:20px;}
.blog-top h1 {font-size:18px;margin-bottom: 10px;}
.blog-top {margin-bottom: 10px;}
.tags-at .buttons {margin-bottom: 20px;}
.pf-bg {margin-bottom: 20px;}
.articleTop-wrap.nav-up {top: -45px !important;}
.share span {display:none;}
.article-left .buttons .btn {display:none;}
.articleBottom .datearticle {font-size:12px;}
.breadcrumb {display:none;}
.container-scam {height: 45px;}
.articleBottom {padding:10px;}
.articleBottom h1 {font-size: 16px;}
.articleBottom .datearticle {margin-bottom:10px;margin-top: 10px;}
.article-left h1{font-size: 14px;margin-bottom: 5px;width: 220px;}
.articleTop-wrap.show {border-top: 1px solid #ebebeb;top:45px;}
.articleTop {padding:10px 0 0;}
.share {margin-top: 10px; padding-left:0;position: absolute;right: 0;}
.share a:before{left:0;}
.share a {padding-left:30px;}
.article p {margin-bottom: 10px;}
.imgwithcaption {margin-top:0; padding:0;}
.imgwithcaption img {width:100%;}
.imgcaption {padding: 10px; margin-bottom:0;}
.withqutmark:before {top: -9px;font-size: 36px;}
.withqutmark {padding:0 0 0 20px;}
.title-3 {font-size:14px; margin-bottom:10px;}
.video {margin:0 0 0 0; width:100%;}
.tags{padding: 10px 0; margin-bottom:10px;}
.tags .buttons .btn2 {margin:0 5px 5px 0;}
.video iframe {height:300px;}
.title-4 {margin-bottom:10px;padding-left:0;}
.mid-articles {padding:10px 0;}
.articlebox-holder {padding:0;}
.title-artcile {font-size:12px;margin-bottom:10px;}
.comment {padding:20px 0;}
.title4 {font-size:14px;}
.comment .title4 {margin-bottom:20px;}
.input-control textarea {padding:10px; min-height:80px;}
.comment .buttonholder {margin-bottom:0;}
.comment-holder {padding:20px 0;}
.buttonholder .btn {min-width:initial;}
.profile {width:25%;}
.comment-des {width:75%;}
.profile-name {margin-bottom:10px;}
.btnreply {margin-top:10px;}
.comment-reply {padding:20px 0;}
.comment-reply {margin-left:15%;}
.btn-mg {margin-bottom:20px;}
.advertisement-at{clear:both; margin-top:20px;}
}
