//## For each of Bootstrap's buttons, define text, background and border color.

$body-text-color: #2A2F5B;
$body-text-color-itara: #111;
$white-color: #ffffff;
$grey-color: #f1f1f1;
$grey2-color: #f9fbfd;
$grey3-color: #fafafe;
$transparent-bg : transparent;
$black-color : #1a2035;
$black2-color : #1f283e;
/* $itara-sidebar-bg: #f4f4f4; */
$itara-sidebar-bg:#F9F4F1;
$itara-main-bg: #f2f2f2;
$itara-body-bg: #f9f4f1;
/*$itara-primary: #1D221F;*/
$itara-primary: #2B3B31;
$primary-color : #030303;
$primary2-color : #1269DB;
$secondary-color : #6861CE;
$secondary2-color : #5C55BF;
$info-color : #48ABF7;
$info2-color : #3697E1;
$success-color : #31CE36;
$success2-color : #2BB930;
$warning-color : #FFAD46;
$warning2-color : #FF9E27;
$danger-color : #F25961;
$danger2-color : #EA4d56;

// Font Weight
$font-weight-light : 300;
$font-weight-normal : 400;
$font-weight-bold : 600;
$font-weight-extrabold : 700;